<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Params" type="AppConfig_Test3.CustomConfigurationBaseSection,AppConfig_Test3"/>
    </configSections>
  <Params ConfigFile="Param.cfg"/>
  
  <appSettings>
    <add key="TestVal" value="Test"/>
    </appSettings>
  
    <connectionStrings>
    <add name="sqlString" connectionString="SQL_Con_String"/>
    </connectionStrings>
</configuration>